/* Custom CSS - standard CSS only to work with CDN */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafaf9;
    /* tailwind stone-50 */
    color: #1c1917;
    /* tailwind stone-900 */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1c1917;
}

::-webkit-scrollbar-thumb {
    background-color: #ea580c;
    /* orange-600 */
    border-radius: 9999px;
    border: 4px solid #1c1917;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #f97316;
    /* orange-500 */
}

/* Utilities */
.text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-lg {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.bg-wood {
    background-color: #1c1917;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1533090161767-e6ffed986c88?q=80&w=2069&auto=format&fit=crop');
    background-size: cover;
    background-attachment: fixed;
}